<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên Hệ</title>
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img  src="../img/logo.png" alt="Khoa Công nghệ thông tin - Trường Đại Học Sư Phạm Hà Nội ">
        </div>
        <div class="info_member">    
            <div class="logomember">
                <img src="../img/doraemon.jpg" alt="">   
            </div>
            <div class="logout name" ><a href="../index.html">Trang Chủ</a></div>
        </div>
    </div>
    <div class="text">
        <h1>Liên hệ</h1>
    </div>
    
    <div class="container">
        <div class="profile">
            <div class="card_img">
                <img src="../img/hiu.jpg" alt="">
            </div>
            <div class="info">
                
            </div>
            <div class="lienket">
                <a href="">Facebook</a>
                <a href="">Email</a>
            </div>
        </div>


        <div class="profile">
            <div class="card_img">
                <img src="../img/dan.jpg" alt="">
            </div>
            <div class="info">
               
            </div>
            <div class="lienket">
                <a href="">Facebook</a>
                <a href="">Email</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="menu">
            <ul class="list">
                <li><a href="../index.html">Trang Chủ</a></li>
                <li><a href="./question.html">Bộ Câu Hỏi</a></li>
                <li><a href="./member.html">Gửi Câu Hỏi</a></li>
                <li><a href="#">Liên Hệ</a></li>
            </ul>
        </div>
        <div class="chinh">
            <div class="fit">
                <div class="logofooter">
                    <div><img width="70px"  src="../img/logo.png" alt=""></div>
                    <div class="logotext">
                        <p>KHOA CÔNG NGHỆ THÔNG TIN</p>
                        <P>TRƯỜNG ĐẠI HỌC SƯ PHẠM HÀ NỘI</P>
                    </div>
                </div>
                <div class="textfooter">
                    <p>Địa chỉ: Tầng 2, nhà C, 136 Xuân Thủy, Cầu giấy, Hà Nội</p>
                    <p>Hotline: 0904 031 397</p>
                    <p>Email: <a href="mailto:cntt@hnue.edu.vn">cntt@hnue.edu.vn</a></p>
                    <p>Website: <a href="https://fit.hnue.edu.vn/">https://fit.hnue.edu.vn</a></p>
                </div>
            </div>
            <div class="faceb">
                <div class="ote">
                    <h3>Giới thiệu thành viên nhóm 1 nền tảng phát triển Web</h3>
                </div>
                <div class="member">
                    <div class="otu">
                        
                    </div>
                    <div class="ota">
                        
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div style="width: 100%; text-align: center; margin-top: 20px;"><p>Copyright by THD</p></div>
</body>
</html>