<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/login.js"></script>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <div class="form-control error">
            <input type="text" placeholder="Username" name="username" id="username-id">
            <span></span>
        </div>

        <div class="form-control error">
            <input type="password" placeholder="Password" name="username" id="password-id">
            <span></span>
        </div>

        <button class="submit" type="submit" onclick="login()">Login</button>

        <div class="signup-link">
            not a member ? <a href="./register.html">Sign up</a>
        </div>
    </div>
</body>
</html>