<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ bộ câu hỏi</title>
    <link rel="stylesheet" href="../css/member.css">
</head>
<body>
    <div class="all">
        <div class="header">
            <div class="option">
                <ul class="list">
                    <li><img src="../img/logo.png" alt="Nền tảng phát triển web"></li>
                    <li><a href="../index.html">Trang chủ</a></li>
                    <li><a href="#">Thêm câu hỏi</a></li>
                    <li><a href="./question.html">Bộ câu hỏi</a></li>
                    <li><a href="./contact.html">Liên hệ</a></li>
                    <li><a id="admin-cpanel"></a></li>
                </ul>
            </div>
            <div class="info">    
                <div class="logomember">
                    <div id="name" class="name"></div>
                    <img src="../img/doraemon.jpg" alt="">   
                </div>
                <div id="logout" class="logout name">Đăng xuất</div>
            </div>
        </div>
        <div class="body">
            <div class="thongtin">
                <h3>Nền Tảng Phát Triển Web - CSS</h3>
                <p><b>Group: </b>Trần Đức Hiếu and Phạm Trọng Đan</p>
                <p></p>
            </div>
            <div class="container">
                <div class="choose">
                    <button class="creat">Thêm câu hỏi</button>
                    <ul id="listcreat">
                        <li onclick="showformsingle()">Trắc nghiệm 1 đáp án đúng</li>
                        <li onclick="showformwriting()">Điền đáp án</li>
                    </ul>
                </div>
                <div class="hidecreatquestion">
                    <div class="single" id="showsingle">
                        <form id="singleqs">
                            <p class="textp">Nhập câu hỏi :</p>
                            <input type="text" name="" id="singlequestion" placeholder="Vui lòng nhập câu hỏi" class="questionSingle" required>
                            <p class="textp">Nhập đáp án :</p>
                            <div class="styleanswer">
                                <input type="text" name="" id="answer1" placeholder="Nhập Đáp Án 1" class="answer" required>                            
                                <input type="text" name="" id="answer2" placeholder="Nhập Đáp Án 2" class="answer" required>                            
                                <input type="text" name="" id="answer3" placeholder="Nhập Đáp Án 3" class="answer" required>
                                <input type="text" name="" id="answer4" placeholder="Nhập Đáp Án 4" class="answer" required>            
                            </div>
                            <input type="text" name="" id="answersingletrue" placeholder="Đáp án đúng là" class="answer" required> <br>
                            <button type="button" id="save_questionsingle" onclick="saveQuestion()">Tạo Câu Hỏi</button> <br>
                            <div id="edit_single"></div>
                        </form>
                    </div>
                    <div class="writing" id="showwriting">
                        <form id="quizFormFillIn">
                            <p class="textp">Nhập câu hỏi :</p>
                            <input type="text" name="" id="questionFillIn" placeholder="Vui lòng nhập câu hỏi" class="questionSingle" required>
                            <p class="textp">Nhập đáp án :</p>
                            <input type="text" name="" id="answerFillIn" placeholder="Điền Đáp Án Đúng." class="answer" required> <br>
                            <button type="button" id="editwriting" onclick="writingquestion()">Tạo Câu Hỏi</button>
                            <div id="edit_writing"></div>
                        </form>
                    </div>
    
                </div>
    
            </div>    
        </div> 
        <div class="danhsachcauhoi">
            <table id="questionTable" border="5px" cellspacing="0" cellpadding="20px">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Thời gian gửi</th>
                        <th>Câu hỏi</th>
                        <th>Đáp án</th>
                        <th>Đáp án đúng</th>
                        <th>Trạng Thái</th>
                        <th>Chức Năng</th>
                    </tr>
                </thead>
                <tbody>
                  
                </tbody>
            </table>
        </div>
        <div class="phanvung"></div>
    </div>

    <div class="footer">
        <div class="chinh">
            <div class="fit">
                <div class="logofooter">
                    <div><img width="70px"  src="../img/logo.png" alt=""></div>
                    <div class="logotext">
                        <p>KHOA CÔNG NGHỆ THÔNG TIN</p>
                        <P>TRƯỜNG ĐẠI HỌC SƯ PHẠM HÀ NỘI</P>
                    </div>
                </div>
                <div class="textfooter">
                    <p>Địa chỉ: Tầng 2, nhà C, 136 Xuân Thủy, Cầu giấy, Hà Nội</p>
                    <p>Hotline: 0904 031 397</p>
                    <p>Email: <a href="mailto:cntt@hnue.edu.vn">cntt@hnue.edu.vn</a></p>
                    <p>Website: <a href="https://fit.hnue.edu.vn/">https://fit.hnue.edu.vn</a></p>
                </div>
            </div>
            <div class="faceb">
                <div class="ote">
                    <h3>Giới thiệu thành viên nhóm 1 nền tảng phát triển Web</h3>
                </div>
                <div class="member">
                    <div class="otu">
                        <p>Thành viên 1: Trần Đức Hiếu </p>
                        <p>Quê quán: Nam Định</p>
                        <p>Khoa: Công nghệ thông tin HNUE</p>
                        <p>Lớp: K72E2</p>
                    </div>
                    <div class="ota">
                        <p>Thành viên 2: Phạm Trọng Đan </p>
                        <p>Quê quán: Nam Định</p>
                        <p>Khoa: Công nghệ thông tin HNUE</p>
                        <p>Lớp: K72E1</p>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div style="width: 100%; text-align: center; margin-top: 20px;"><p>Copyright by THD</p></div>

    <script src="../js/member.js"></script>
</body>
</html>